:root {
    --color-primary-base: #353132;
    --color-primary-accent: #ecf014;

    --color-player-base: #292525;

    --text-color: #e9e9e9;

    --body-height: 100dvh;

    --title-bar-width: 100dvw;
    --title-bar-height: 30px;

    --nav-bar-width: 100dvw;
    --nav-bar-height: 60px;

    --nav-bar-item-padding: 15px;

    --underliner-height: 3px;

    --player-height: 80px;
    --player-width: 100dvw;

    --seekbar-height: 5px;
    --seekbar-width: 500px;

    --iframe-width: 100dvw;
    --iframe-height: calc(var(--body-height) - var(--title-bar-height) - var(--nav-bar-height) - var(--player-height));

    --overlay-width: 100dvw;
    --overlay-height: 100dvh;

    --seekball-height: 200%;
}

.light-mode {
    --color-primary-base: #e9e9e9;
    --color-primary-accent: #ecf014;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--color-primary-base);
    height: var(--body-height);
    overflow: hidden;
    color: var(--text-color);
}

.title-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--title-bar-width);
    height: var(--title-bar-height);
}

.nav-bar {
    margin-top: var(--title-bar-height);
    width: var(--nav-bar-width);
    height: var(--nav-bar-height);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-items {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav-button-label {
    padding-left: var(--nav-bar-item-padding);
    padding-right: var(--nav-bar-item-padding);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.nav-bar-button {
    display: none;
}

/* .nav-bar-button[type="radio"]:checked + .nav-button-label {
    
} */

.underliner {
    background-color: var(--color-primary-accent);
    position: absolute;
    /* left: 0;
    right: 0; */
    bottom: 0;
    height: var(--underliner-height);
    border-radius: var(--underliner-height);

    transition: all 0.25s linear;
}

#iframe {
    width: var(--iframe-width);
    height: var(--iframe-height);
    outline: none;
    border: none;
    color: var(--text-color);
}

#player {
    height: var(--player-height);
    width: var(--player-width);
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--color-player-base);
}

#seekBarLabel {
    width: var(--seekbar-width);
    height: var(--seekbar-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
}

#seekBarLabel::before {
    content: "";
    height: var(--seekball-height);
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-100%, -50%);

    /* background-color: red; */
}

#seekBarLabel::after {
    content: "";
    height: var(--seekball-height);
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}

#seeker {
    position: absolute;
    top: 50%;
    height: var(--seekball-height);
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    will-change: transform;

    background-color: red;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--overlay-width);
    height: var(--overlay-height);

    background-color: #ecf01444;
}

